
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.floating-panel {
  background-color: #FFF;
  border: 1px solid #999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 3px;
  position: absolute;
  z-index: 5;
}

.floating-panel > div {
  margin: 3px;
}

#map {
  height: 100%;
}

#searchRestoPanel {
  margin: 10px;
}

